.mainHeader{
    height: 80px;
    color: white;
    background-color: rgba(134, 47, 47, 0.493);
    margin: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .mainHeader>h1{
    margin-left:20px ;
  }

  .button{
    background: transparent;
    border: 1px solid #171212;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
  
    transition: all 0.1s ease-in;
  }
  .buttonLarge{
    margin-right: 20px;
    padding:20px
  }
  
  .buttonLarge:hover{
    background-color: #171212;
    color: white;
  }

  .jump{
      animation: jump 300ms ease-out;
  }
  @keyframes jump{
      0%{
          transform: scale(1);
      }
      20%{
          transform: scale(0.8);
      }
      40%{
          transform: scale(1.15);
      }
      60%{
          transform: scale(1.2);
      }
      90%{
          transform: scale(1.1);
      }
      100%{
        transform:scale(1);
      }
  }