.contentHeading{
    color: white;
    padding: 20px;
  
  }
  .content{
    width: 600px;
    height:400px;
    background-color:rgba(134, 47, 47, 0.493);;
    margin:auto;
    border-radius: 20px;
  }
  .content>p{
    padding:20px;
    font-weight: 500;
  }